.header {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding-top: 2rem;
    padding-bottom: 2rem;
    position: relative;
    z-index: 9999;
}

.header__menu {
    display: none;
}

.header__bars {
    display: block;
    color: var(--clr-light);
    height: var(--size-2xl);
    width: var(--size-2xl);
}


/* xs: extra small*/
/* @media (min-width: 475px) {} */

/* sm: small */
/* @media (min-width: 640px) {} */

/* md: medium */
@media (min-width: 768px) {
    .header__menu {
        display: flex;
        align-items: center;
        gap: 2rem;
    }

    .header__link {
        font-size: var(--size-xs);
        font-weight: 600;
        color: var(--clr-slate600);
        letter-spacing: -0.05em;
        transition: color 0.3s;
    }

    .header__link:hover {
        color: var(--clr-rose);
    }

    .header__line {
        border: 1px solid var(--clr-slate800);
        padding-top: 1.5em;
    }

    .header__sun {
        display: block;
        color: var(--clr-slate600);
        height: var(--size-base);
        width: var(--size-base);
    }

    .header_resume {
        font-size: var(--size-xs);
    }

    .header__bars {
        display: none;
    }
}

/* lg: large */
@media (min-width: 1024px) {
    .header__link {
        font-size: var(--size-sm);
    }

    .header__sun {
        height: var(--size-xl);
        width: var(--size-xl);
    }

    .header_resume {
        font-size: var(--size-sm);
    }
}

/* xl: extra large */
/* @media (min-width: 1280px) {} */

/* 2xl: extra extra large */
/* @media (min-width: 1536px) {} */